/* .homeColor:target {
  background-color: red;
} */
.pic {
  width: 10px;
  height: 50px;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 900px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.homeColor {
  background-color: red;
}
